[Unit]
Description=Rpanion Server Service
After=network.target

[Service]
Environment=PORT=3000
WorkingDirectory=/home/ceov/Rpanion-server
ExecStart=/usr/bin/npm run service
Restart=on-failure
User=ceov

[Install]
WantedBy=multi-user.target

